<header class="custom-header">
    <nav>
        <ul>
            <li>
                <a href="/Usuario/Perfil">
                    <img src="/img/header/perfil.png" alt="perfil">
                </a>
            </li>
            <li>
                <a href="/Usuario/Noti">
                    <img src="/img/header/noti.png" alt="notificaciones">
                </a>
            </li>
        </ul>

        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div id="menu-overlay" class="menu-overlay" onclick="toggleMenu()"></div>

    <div id="sidebar-menu" class="menu-container sidebar-closed">
        <div class="menu-header">
            <button class="back-btn" onclick="toggleMenu()">←</button>
            <h1>MENÚ</h1>
        </div>

        <div class="menu-links">
            <a href="@Url.Action("Home", "Home")">Home</a>
            <a href="@Url.Action("Perfil", "Usuario")">Perfil</a>
            <a href="@Url.Action("Grupos", "Comunidades")">Grupos</a>
            <a href="@Url.Action("Index", "Tramite")">Tramites</a>
            <a href="@Url.Action("ChatBot", "ChatBot")">ChatBot</a>
            <a href="@Url.Action("Index", "Juego")">Juegos</a>
            <a href="@Url.Action("CerrarSesion", "Usuario")">Cerrar Sesión</a>
        </div>
    </div>
</header>

<main class="juegos-main">
    <h1 class="juegos-titulo">Juegos</h1>

    <div class="juegos-grid">
        <a href="@Url.Action("Memotest", "Juego")" class="juego-card">
            <div class="juego-img">
                <img src="/img/juego/cabeza.png" alt="Memotest">
            </div>
            <span class="juego-nombre">Memotest</span>
        </a>

        <a href="@Url.Action("Oraciones", "Juego")" class="juego-card">
            <div class="juego-img">
                <img src="/img/juego/idioma2.png" alt="Idiomas">
            </div>
            <span class="juego-nombre">Completa la frase</span>
        </a>

        <div class="juego-card disabled">
            <div class="juego-img">
                <img src="/img/juego/salaEscape.png" alt="Cultura">
            </div>
            <span class="juego-nombre">Cultura</span>
        </div>

        <div class="juego-card disabled">
            <div class="juego-img">
                <img src="/img/juego/Valija.png" alt="Viajes">
            </div>
            <span class="juego-nombre">Viajes</span>
        </div>

        <div class="juego-card disabled">
            <div class="juego-img">
                <img src="/img/juego/planeta.png" alt="Costumbres">
            </div>
            <span class="juego-nombre">Costumbres</span>
        </div>

        <div class="juego-card disabled">
            <div class="juego-img">
                <img src="/img/juego/libroConLetras.png" alt="Más idiomas">
            </div>
            <span class="juego-nombre">Más idiomas</span>
        </div>
    </div>
</main>
