@{
    bool mostrar = ViewBag.MostrarSeleccion == true;
    int nivel = ViewBag.Nivel;
    var oraciones = ViewBag.Oraciones as List<OracionJuego>;
    var opciones = ViewBag.Opciones as List<OracionOpcion>;
}


@if (mostrar)
{
    <div class="oraciones-container">
        <h2>Juego de Oraciones</h2>
        <p>Elegí un nivel para practicar situaciones reales en tu país de destino.</p>


        <div class="niveles-botones">
            <a href="/Juego/Oraciones?nivel=1">Nivel 1</a>
            <a href="/Juego/Oraciones?nivel=2">Nivel 2</a>
            <a href="/Juego/Oraciones?nivel=3">Nivel 3</a>
        </div>
    </div>
}
else
{
    <h2 class="titulo">Oraciones – Nivel @nivel</h2>


    <div class="oraciones-juego">
        @foreach (var o in oraciones)
        {
            <div class="oracion" data-id="@o.id_oracion">
                @Html.Raw(o.texto.Replace("___", "<span class='dropzone'></span>"))
            </div>
        }
    </div>


    <div class="opciones">
        @foreach (var op in opciones.OrderBy(x => Guid.NewGuid()))
        {
            <div class="opcion" draggable="true" data-op="@op.id_opcion" data-oracion="@op.id_oracion" data-correcta="@op.es_correcta">
                @op.texto
            </div>
        }
    </div>


    <div id="victoria" class="victoria hidden">
        <h3>¡Nivel completado!</h3>
        @if (nivel < 3)
        {
            <a href="/Juego/Oraciones?nivel=@(nivel+1)" class="btn">Siguiente nivel</a>
        }
        <a href="/Juego/Oraciones" class="btn">Volver a niveles</a>
    </div>


    <link rel="stylesheet" href="/css/oraciones.css" />
    @section Scripts {
        <script src="/js/oraciones.js"></script>
    }
}
