@using System.Linq
@model List<Tramite>

<header class="custom-header">

    <nav>
        <ul>
            <li>
                <a href="/Usuario/Perfil">
                    <img src="/img/header/perfil.png" alt="perfil">
                </a>
            </li>
            <li>
                <a href="/Usuario/Noti">
                    <img src="/img/header/noti.png" alt="notificaciones">
                </a>
            </li>
        </ul>

        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div id="menu-overlay" class="menu-overlay" onclick="toggleMenu()"></div>


<div id="sidebar-menu" class="menu-container sidebar-closed">
    <div class="menu-header">
        <button class="back-btn" onclick="toggleMenu()">←</button>
        <h1>MENÚ</h1>
    </div>

    <div class="menu-links">
        <a href='@Url.Action("Home", "Home")'>Home</a>
        <a href='@Url.Action("Perfil", "Usuario")'>Perfil</a>
        <a href='@Url.Action("Index", "Grupos")'>Grupos</a>
        <a href='@Url.Action("Index", "Tramite")'>Trámites</a>
        <a href='@Url.Action("ChatBot", "ChatBot")'>ChatBot</a>
        <a href='@Url.Action("Index", "Juego")'>Juegos</a>
        <a href='@Url.Action("CerrarSesion", "Usuario")'>Cerrar Sesión</a>

    </div>
</div>
  
</header>


<main>
    <div class = "logo">
        <img src="/img/Home/logoSVG.svg" alt="logo">
        <h1>culturi</h1>
    </div>

 <div class="tramitesHome">
    <h3>Trámites en proceso</h3>

    @{
        int i = 0;
    }

    <div class="tramites-lista">

        @if (Model != null && Model.Any())
        {
            foreach (var t in Model.Take(3))
            {
                <div class="tramite-item">
                    <div class="tramite-nombre">
                        <span class="numero">@(++i).</span>
                        <span class="titulo">@t.Titulo</span>
                    </div>

                    <div class="barra-progreso">
                        <div class="progreso"></div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No tenés trámites en proceso.</p>
        }

    </div>
</div>



<section class="opcionesHome">
    <a href="@Url.Action("Index", "Juego")">
        <div>
            <img src="/img/Home/juegos.png" alt="juegos">
            <h3>Juegos</h3>
        </div> 
    </a>

    <a href="@Url.Action("Index", "Grupos")">
        <div>
            <img src="/img/Home/grupos.png" alt="grupos">
            <h3>Grupos</h3>
        </div>
    </a>

    <a href="@Url.Action("Index", "Mapa")">
        <div>
            <img src="/img/Home/mapa.png" alt="mapa">
            <h3>Mapa</h3>
        </div>
    </a>

    <a href="@Url.Action("Index", "Noticias")">
        <div>
            <img src="/img/Home/noticiass.png" alt="info">
            <h3>Noticias</h3>
        </div>
    </a>
</section>


    <div class="NoticiasHome">
        <a href="/Noticias/Index">
            <div>
                <img src="/img/Home/FOTONOTICIA.png" alt="noticias">
                <h3>En Argentina se cambian las condiciones para la visa</h3>
            </div>
        </a>
    </div>

    <a href="/ChatBot/ChatBot" class="floating-bot">
    <img src="/img/ChatBot" alt="ChatBot">
</main>








