<header class="custom-header">
    <nav>
        <ul>
            <li>
                <a href="/Usuario/Perfil">
                    <img src="/img/header/perfil.png" alt="perfil">
                </a>
            </li>
            <li>
                <a href="/Usuario/Noti">
                    <img src="/img/header/noti.png" alt="notificaciones">
                </a>
            </li>
        </ul>

        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <div id="menu-overlay" class="menu-overlay" onclick="toggleMenu()"></div>


<div id="sidebar-menu" class="menu-container sidebar-closed">
    <div class="menu-header">
        <button class="back-btn" onclick="toggleMenu()">←</button>
        <h1>MENÚ</h1>
    </div>

    <div class="menu-links">
        <a href="@Url.Action("Home", "Home")">Home</a>
        <a href="@Url.Action("Perfil", "Usuario")">Perfil</a>
        <a href="@Url.Action("Index", "Grupos")">Grupos</a>
        <a href="@Url.Action("Index", "Tramite")">Tramites</a>
        <a href="@Url.Action("ChatBot", "ChatBot")">ChatBot</a>
        <a href="@Url.Action("Index", "Juego")">Juegos</a>
        <a href="@Url.Action("CerrarSesion", "Usuario")">Cerrar Sesión</a>

    </div>
</div>
  
</header>

<iframe
  id="inlineFrameExample"
  title="Inline Frame Example"
  width="300"
  height="200"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.018280197912!2d-58.384177123417786!3d-34.60369925749872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1762171260530!5m2!1ses!2sar">
</iframe>

